html, body{
  width: 100%;
  height:100%;
}

.App-header {
  text-align: center;
  width:100%;
  height:8vh;
  background-color: #ff6600;
  color: #ffffff;

}

.App-header h2{
  padding:30px;
  margin-top: 0px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.App-footer {
  text-align: center;
  width:100%;
  height:5vh;
  background-color: #ff6600;
  color: #fffff0;
}

.App-footer  p {
  padding:20px;
  margin: 0px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.map-container{
  width: 100vw;
  height: 100vh;
  display:flex;
  flex-wrap: wrap;
}

.sideBar{
width:25%;
height:100%;
background-color:#716C6B;
color: white;
position: relative;
transform: translate(0,0);
}

.map{
    width:75%;
    position: relative;
}

.choose-location-type{
    margin:20px;
}

.search-bar{
    width: 100%;
    height: 30px;
}

.button {
  border-radius: 4px;
  color: white;
  background-color: #ff6600;
  text-align: center;
  font-size: 14px;
  padding: 7px;
  width: 80px;
  margin-top:15px;
  margin-bottom:15px;
  margin-left:15px;
}


#open-button {
  color: #ff6600;
  font-size: 0px;
  background-color: #ff6600;
  display: none;
}

#close-button {
  color: white;
  background-color: #716C6B;
  text-align: center;
  font-size: 0px;
  display: none;
}

.venues-list {
  margin-top:15px;
  margin-left:15px;
}

.select-location-type{
  margin-top:15px;
  margin-bottom:15px;
  margin-left:15px;
}
ul{
  list-style-type: none;
}
.map-select-wrapper{
  background-color: #ff6600;
  color:white;
  width: 100px;
  cursor: pointer;
}

ul.venue-list{
  padding-left:0px;
}
.venue-details{
  padding-left:5px;
}

.venue-details h4{
  background-color: #5d5958;
  cursor: pointer;
}

.infowindow {
  width:150px;
}

.venue-details h4{
font-size: 18px;
}

@media only screen and (max-width: 799px) {

.venue-details h4{
font-size: 16px;
}

}

@media only screen and (max-width: 600px) {

  #open-button {
    color: white;
    font-size: 20px;
    background-color: #ff6600;
    border: none;
    display: inline;
    transform: translate(-30px,0);
    cursor: pointer;
}

  #close-button {
    border-radius: 4px;
    color: white;
    background-color: #ff6600;
    text-align: center;
    font-size: 20px;
    border: none;
    display: inline;
    cursor: pointer;
  }

  .venue-details h4{
  font-size: 14px;
  }

  .App-header h2{
  font-size: 20px;
  padding-bottom: 20px;
  padding-top: 10px;
  }

  .App-footer p{
  font-size: 10px;
  padding-bottom: 0px;
  padding-top: 10px;
  }

  .sideBar {
    -webkit-transform: translate(-300,0);
    transform: translate(-300px,0);
    transition:  0.9s ease;
    width: 0vw;
  }

  .sideBar.open {
    width:50%;
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
    transition:  0.9s ease;
}

  .map{
    width:100vw;
  }
  .map-container{
    display:flex;
    flex-flow: nowrap;
  }

}
