.App-header {
  text-align: center;
  width:100%;
  height:8vh;
  background-color: #ff6600;
  color: #ffffff;

}

.App-header h2{
  padding:30px;
  margin-top: 0px;
}

.App-footer {
  text-align: center;
  width:100%;
  height:5vh;
  background-color: #ff6600;
  color: #fffff0;
}

.App-footer  p {
  padding:20px;
  margin: 0px;
}

.map-container{
  width: 100%;
  display:flex;
  flex-wrap: wrap;
}

.search-box{
width:25%;
height:85vh;
background-color:#716C6B;
color: white;
}

.map{
    width:75%;
    position: relative;
}

.choose-location-type{
    margin:20px;
}

.search-bar{
    width: 100%;
    height: 30px;

}

.button {
  border-radius: 4px;
  color: white;
  background-color: #ff6600;
  text-align: center;
  font-size: 14px;
  padding: 7px;
  width: 80px;
  margin-top:15px;
  margin-bottom:15px;
  margin-left:15px;
}

.places-list {
  margin-top:15px;
  margin-left:15px;
}

.select-location-type{
  margin-top:15px;
  margin-bottom:15px;
  margin-left:15px;
}
ul{
  list-style-type: none;
}
.map-select-wrapper{
  background-color: #ff6600;
  color:white;
  width: 100px;
  cursor: pointer;
}

ul.place-list{
  padding-left:0px;
}
.place-details{
  padding-left:5px;
}



@media only screen and (max-width: 799px) {

.search-box h3{
font-size: 14px;
}
}

@media only screen and (max-width: 600px) {
/*toggle sidebar*/
}

@media only screen and (max-width: 600px) {

}
