.App {
  display: flex;
  flex-wrap: wrap;
}

.App-header {
  text-align: center;
  width:100%;
  height:10vh;
  background-color: #ff6600;
  color: white;

}

.App-footer {
  width:100%;
  background-color: #ff6600;
  color: white;
}

.search-box{
width:25%;
height:80vh;
background-color:#716C6B;
color: white;
}

.map-container{
    width:75%;
    height:80vh;
    position: relative;
}

.choose-location-type{
    margin:20px;
}

.search-bar{
    width: 100%;
    height: 30px;

}

.button {
  border-radius: 4px;
  color: white;
  background-color: #ff6600;
  text-align: center;
  font-size: 16px;
  padding: 7px;
  width: 80px;
  margin-top:15px;
}
