.App-header {
  text-align: center;
  width:100%;
  height:8vh;
  background-color: #ff6600;
  color: #ffffff;

}

.App-header h2{
  padding:30px;
  margin-top: 0px;
}

.App-footer {
  text-align: center;
  width:100%;
  height:5vh;
  background-color: #ff6600;
  color: #fffff0;
}

.App-footer  p {
  padding:20px;
  margin: 0px;
}

.map-container{
  width: 100%;
  display:flex;
  flex-wrap: wrap;
}

.searchbox{
width:25%;
height:85vh;
background-color:#716C6B;
color: white;
position: relative;
transform: translate(0,0);
}

.map{
    width:75%;
    position: relative;
}

.choose-location-type{
    margin:20px;
}

.search-bar{
    width: 100%;
    height: 30px;

}

.button {
  border-radius: 4px;
  color: white;
  background-color: #ff6600;
  text-align: center;
  font-size: 14px;
  padding: 7px;
  width: 80px;
  margin-top:15px;
  margin-bottom:15px;
  margin-left:15px;
}

.venues-list {
  margin-top:15px;
  margin-left:15px;
}

.select-location-type{
  margin-top:15px;
  margin-bottom:15px;
  margin-left:15px;
}
ul{
  list-style-type: none;
}
.map-select-wrapper{
  background-color: #ff6600;
  color:white;
  width: 100px;
  cursor: pointer;
}

ul.venue-list{
  padding-left:0px;
}
.venue-details{
  padding-left:5px;
}



@media only screen and (max-width: 799px) {

.searchbox h3{
font-size: 20px;
}

.venue-details p{
font-size: 16px;
}

}

@media only screen and (max-width: 600px) {
  .searchbox p{
  font-size: 10px;
  }
  .App-header h2{
  font-size: 20px;
  padding-bottom: 20px;
  padding-top: 10px;
  }

  .App-footer p{
  font-size: 10px;
  padding-bottom: 0px;
  padding-top: 10px;
  }

  .searchbox {
    position: relative;
    transform: translate(-300px,0);
    transition:  0.9s ease;
    width: 0vw;
  }
  .searchbox .closebtn{
    position: absolute;
    top:0px;
    right:25px;
    font-size:36px;
    margin-left:50px;
  }
  .map{
    width:100vw;
  }
  .map-container{
    display:flex;
    flex-flow: nowrap;
  }

}
