.App {
  display:flex;
flex-wrap: wrap;
flex-direction: 
}

.App-header {
  text-align: center;
  width:100%;
  height:10vh;
  background-color: #ff6600;
  color: white;

}

.App-footer {
  text-align: center;
  width:100%;
  height:10vh;
  background-color: #ff6600;
  color: white;
}
.map-container{
  width: 100%;
}

.search-box{
width:25%;
height:70vh;
background-color:#716C6B;
color: white;
}

.map{
    width:75%;
    height:70vh;
    position: relative;
}

.choose-location-type{
    margin:20px;
}

.search-bar{
    width: 100%;
    height: 30px;

}

.button {
  border-radius: 4px;
  color: white;
  background-color: #ff6600;
  text-align: center;
  font-size: 14px;
  padding: 7px;
  width: 80px;
  margin-top:15px;
  margin-bottom:15px;
  margin-left:15px;
}

.places-list {
  margin-top:15px;
  margin-left:15px;
}

.select-location-type{
  margin-top:15px;
  margin-bottom:15px;
  margin-left:15px;
}
ul{
  list-style-type: none;
}
.map-select-wrapper{
  background-color: #ff6600;
  font-color:white;
  width: 100px;
  cursor: pointer;
}

ul.place-list{
  padding-left:0px;
}
.place-details{
  padding-left:5px;
}
